<%- include("partials/title") -%>
<body class="indexBackground">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/fotoshare_logo.png" alt="fotoshare_logo" class="headerLogo">
            </a>
        </div>
    </nav>

    <div class="indexBody">
        <div class="indexColour">
            <h1 class="textCenter">404 Error</h1>
            <h3 class="textCenter margintop2">Page not found</h3>
        </div>
    </div>
    <%- include("partials/footer") -%>
</body>